@font-face {
  font-family: 'Roboto'
  src: url('fonts/Roboto-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
/* global reset */
html, body, body div, span, label, h1, h2, h3, h4, h5, h6, p, a, em, font, img, s, small, strike, strong, sub, sup, b, u, i, dl, dt, dd, ol, ul, li, button, form, fieldset, article, aside, footer, header, nav, section, input, textarea {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	background: none;
    list-style: none;
}
/* font adjusting hack */
html * {
	max-height: 1000000px;
}
/* common */
html {
    height: 100%;
}
body {
    font: normal 400 16px / 26px 'Roboto', Arial, Helvetica, sans-serif;
    letter-spacing: 0.05em;
    height: 100%;
    display: flex;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
.container {
    width: 1140px;
    margin: 0 auto;
}
h3 {
    font-size: 36px;
    font-weight: 300;
    line-height: 46px;
    text-align: center;
}
/* header */
header {
    position: absolute;
    top: 34px;
    left: 0;
    width: 100%;
    flex: none;
}
header .container {
    height: 48px;
    display: flex;
    justify-content: space-between;
}
header a {
    display: block;
    height: 48px;
    background-position: center center;
    background-repeat: no-repeat;
}
.logo {
    width: 46px;
    background-image: url('../img/logo.png');
}
.user {
    width: 34px;
    background-image: url('../img/user.png');
}
/* footer */
footer {
    flex: none;
    background: #316099;
    color: #fff;
}
footer section + section {
    border-top: 2px solid rgba(255,255,255,0.4);
}
footer .container {
    padding: 64px 0;
}
footer h3 {
    margin: 27px 0;
    font-weight: 400;
    text-align: left;
    width: 336px;
}
footer p {
    margin: 32px 0;
    opacity: 0.6;
    width: 480px;
}
footer ol {
    display: flex;
    justify-content: space-between;
    margin: 0;
}
footer li {
    flex: 0 0 316px;
    padding-left: 42px;
    position: relative;
}
footer li::before {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    content: 'T.';
}
footer li:first-child::before {
    content: 'A.';
}
footer li:last-child::before {
    content: 'E.';
}
footer button {
    float: right;
    margin-top: -160px;
    width: 340px;
    height: 56px;
    color: #fff;
    background: #5a98d0;
    font: normal 400 16px / 26px 'Roboto', Arial, Helvetica, sans-serif;
    letter-spacing: 0.04em;
}
.copy {
    margin: 64px 0 0;
    opacity: 0.4;
}






