@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* global reset */
html, body, body div, span, label, h1, h2, h3, h4, h5, h6, p, a, em, font, img, s, small, strike, strong, sub, sup, b, u, i, dl, dt, dd, ol, ul, li, button, form, fieldset, article, aside, footer, header, nav, section, input, textarea {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    list-style: none;
}
/* font adjusting hack */
html * {
    max-height: 1000000px;
}
/* common */
html {
    height: 100%;
}
body {
    font: normal 16px/24px 'roboto', Arial, Helvetica, sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.container {
    width: 1120px;
    margin: 0 auto;
    padding: 16px;
}

/* icons */
.icon::before {
    font-family: 'icomoon';
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: white;
    text-align: center;
}
.icon:hover::before {
    color: yellow;
}
.logo::before {
    content: '\e900';
}
.login::before {
    content: '\e902';
}
.order::before {
    content: '\e901';
}
.cat::before {
    content: '\e903';
}

/* header */
header {
    flex: none;
    background: red;
    color: white;
}
.searschform {
    background: white;
    border-radius: 8px;
    height: 24px;
    padding: 6px;
    flex: 1 1 auto;
}
.mainhead .container {
    display: flex;
    gap: 16px;
}
.mainhead a {
    height: 24px;
    width: 24px;
    padding: 4px;
    border: 2px solid white;
    border-radius: 8px;
    text-align: center;
    flex: none;
    position: relative;
    text-decoration: none;
}
header nav {
    display: flex;
    gap: 16px;
}
header nav a {
    height: 24px;
    border: 2px solid white;
    border-radius: 8px;
    flex: none;
    text-decoration: none;
    padding: 4px 8px;
    color: white;
}
header a.active,
header a:hover {
    color: yellow;
    border-color: yellow;
    background: pink;
}
header .icon::before {
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
}

/* footer */
footer {
    flex: none;
    height: 100px;
    background: gray;
}

/* main */
main {
    flex: 1 1 auto;
}

/* actions */
.actionband {
    background: #f93;
    color: #fff;
    text-transform: uppercase;
}
.actionband .container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.discount,
.retaimer,
.sept,
.num {
    font-weight: bold;
    font-size: 40px;
    line-height: 1;
}
.toptext,
.subnum {
    font-size: 12px;
}
.retaimer {
    border-left: 1px solid #fff;
    padding: 24px 0 0 24px;
    margin-left: 24px;
    position: relative;
    text-align: center;
}
.toptext {
    position: absolute;
    top: 0;
    left: 24px;
    right: 0;
}
.sept,
.num {
    display: inline-block;
    vertical-align: top;
}
.sept {
    padding: 12px 0;
}
.num {
    padding-bottom: 24px;
    position: relative;
    min-width: 50px;
}
.subnum {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

/* slider */
.slider .container,
.slider_desk,
.slider_block {
    width: 417px;
    height: 570px;
}
.slider .container {
    padding: 16px 78px;
    position: relative;
}
.slider_desk {
    overflow: hidden;
    position: relative;
    background: #fff;
}
.slider_block {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
.slider_block.active {
	z-index: 1;
}
/* .slider button { */
	/* position: absolute; */
	/* background: green; */
	/* color: white; */
	/* border: none; */
	/* border-radius: 4px; */
	/* font-size: 32px; */
	/* line-height: 46px; */
	/* height: 46px; */
	/* width: 46px; */
	/* top: calc(50% - 23px); */
/* } */
/* .slider .to_left { */
	/* left: 16px; */
/* } */
/* .slider .to_right { */
	/* right: 16px; */
/* } */
/* .slider .points { */
	/* position: absolute; */
	/* width: 66px; */
	/* height: 12px; */
	/* display: flex; */
	/* justify-content: space-between; */
	/* top: 500px; */
	/* left: 50%; */
	/* margin-left: -33px; */
/* } */
/* .slider .points span { */
	/* border-radius: 50%; */
	/* border: 1px solid blue; */
	/* height: 12px; */
	/* width: 12px; */
	/* cursor: pointer; */
	/* z-index: 1; */
/* } */
/* .slider .points span:hover, */
/* .slider .points span.active { */
	/* background: blue; */
/* } */

/* catalog */
.catalog .container {
    overflow: hidden;
    padding: 0;
}
.catalog aside {
    float: left;
    width: 288px;
    padding: 16px;
}
.catalog article {
    margin-left: 320px;
    padding: 16px;
}
.opener {
    font-size: 32px;
    line-height: 48px;
    padding: 16px 16px 16px 80px;
    background: #ff2780;
    color: white;
    cursor: pointer;
    border-radius: 16px;
    margin-bottom: 16px;
    position: relative;
}
.opener::before,
.opener::after {
    position: absolute;
    left: 16px;
    width: 48px;
    height: 48px;
    content: '';
}
.opener::before {
    top: 16px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    height: 21px;
    transform-origin: left top;
    transition: border-bottom-width 1.4s step-end, transform 1.5s ease, width 1.5s ease;
}
.opener::after {
    top: 41px;
    border-bottom: 2px solid white;
    height: 21px;
    transform-origin: left bottom;
    transition: transform 1.5s ease, width 1.5s ease;
}
.opener:hover,
.opener:hover::before,
.opener:hover::after,
.opener:hover span::before {
    color: yellow;
    border-color: yellow;
}
.open .opener::before,
.open .opener::after {
    width: 66px;
}
.open .opener::before {
    border-bottom-width: 0;
    transform: rotate(45deg);
    transition: border-bottom-width 1.4s step-start, transform 1.5s ease, width 1.5s ease;
}
.open .opener::after {
    transform: rotate(-45deg);
}
.accordeon {
    display: none;
}
.open .accordeon {
    display: block;
}



